
:root {
    /* Yellow main */
    --yellow-main: #FFCF01;
    /* Orange main */
    --orange-main: #FF7F1C;
    /* Blue main */
    --blue-main: #0D6EF9;
    /* Text color */
    --text-main: #4B4D4C;
    /* Secondary text color */
    --text-secondary: #929395;
    --bg-dbrown: #413D45;
    --bg-brown: #FBF7F4;
  }


@font-face {
    font-family: 'Apercu Bold';
    src: url('../Assets/fonts/apercu_bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Regular';
    src: url('../Assets/fonts/apercu_regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* orange */
.bg-orange{
      background-color: var(--orange-main)!important;
}


.text-orange{
    color: var(--orange-main)!important;
}

/* blue */
.bg-blue{
    background-color: var(--blue-main)!important;
}

/* yellow */

.bg-yellow{
    background-color: var(--yellow-main)!important;
}

/* gray */
.text-main{
    color: var(--text-main);
}

.text-secondary{
    color:var(--text-secondary);
}

.bg-brown{
    background-color: var(--bg-brown)!important;
}
.bg-dbrown{
    background-color: var(--bg-dbrown)!important;
}
*{
    font-family: 'Apercu Regular', sans-serif;
}

.heading{
    font-family: 'Apercu Bold', sans-serif;;
}

#content-1{
    -webkit-mask: url(../Assets/images/wave-bg.svg) no-repeat bottom;
    mask: url(../Assets/images/wave-bg.svg) no-repeat bottom;
    background-image: url('../Assets/images/bg-pattern.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 100%;
    -webkit-background-position: center;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.container-criteria:after{
    border-radius: 50%;
    bottom: 18vw;
    content: "";
    display: block;
    height: 36vw;
    left: 0;
    position: absolute;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    width: 100vw;
    z-index: -1;
}


.decision-card{
    cursor:pointer;

    
}

.decision-card:hover{
  

        bottom: calc( 3%);
        left : calc(1%);
        cursor:pointer;
}
